.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.botao-cadastrar {
    width: 200px;
    height: 40px;
    font-size: 35px;
    border-radius: 10;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.botao-cadastrar:hover {
    background-color: gray;
    color: white;
}
.logo-tela-cadastro {
    margin-top: 150px;
    width: 300px;
    height: 100px;
}
