.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: 90%;
}

.Logo {
    width: 250px;  
    height: 100px;  
   
}
.resultado{
    margin-top: 1px;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 10px;
}
.insufficient{
    margin-top: 25px;
    font-size: 100px;
    font-weight: 400;
    color: black;
    background-color: white;
}
.icone-sad{
    width: 80px;  
    height: 80px;  
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: white;
}
.acertos{
    font-size: 40px;
    font-weight: 400;
    color: #7A7B7B;
    background-color: white;
}
.Botao{
    margin-top: 40px;
    font-size: 40px;
    font-weight: 400;
    border-radius: 0;
    width: 180px;
    height: 50px;

}
.box{
    background-color: white;     
    padding: 20px;                
    border-radius: 15px;          
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    text-align: center;           
    width: 600px;      
    height: 450px;           
    max-width: 80%;
}

