.containerhome {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: auto;
}

.cab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapa {
    margin-left: 70px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-right: 40px;
}

.titlehome {
    background-color: #1F5F61;
    padding: 15px 150px 15px 150px;
    border-radius: 15px;
    margin: 50px 30px 30px 30px;
    color: white;
    font-size: 35px;
}

.space {
    margin-left: 200px;
}

.atividades1, .atividades2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn1,.btn2,.btn3,.btn4, .btn5,.btn6, .btn7 {
    background-color: #7A7B7B;
    color: white;
    border-radius: 15px;
    border: none;
}

.icon1,.icon2,.icon3,.icon4, .icon5,.icon6, .icon7 {
    background-color: #7A7B7B;
    margin: 25px;
}

.btn1,.icon1 {
    background-color: #0B8185;
    cursor: pointer;
}
