.container {
    display: flex;
    flex-direction: column;
    color: white;
}

.cabecalho {
    display: flex;           
    justify-content: center; 
    width: 260px;            
    height: 100px;           
    margin: 0 auto;          
}

.cumprimento {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 150px;
    gap: 30px;
    margin-left: 250px;
}

.cumprimento h1 {
    font-size: 100px;
    font-weight: 40;
}

.boxtext {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 30px;
    color: black;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 100px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
    padding: 30px;
    background-color: white;
    font-weight: 400;
    border-radius: 15px;
    text-align: justify;
}

p{
    font-size: 32px;
    display: flex;
    padding-top: 150px;
    justify-content: center;
}

.acao{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}